.partners-container {
    text-align: center;
    margin: 2em auto;
    padding: 1em;
    border-radius: 8px;
}

.partners-container h2 {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #333;
}

.partners-grid {
    display: flex; /* Using flex layout */
    justify-content: space-around; /* Distribute space evenly */
    gap: 1em;
    overflow-x: auto; /* Allows for horizontal scrolling */
    padding-bottom: 1em; /* Add some padding to avoid clipping */
}

.partner-item {
    flex: 1; /* Allows items to grow and shrink as needed */
    min-width: 80px; /* Minimum width of each item */
    height: auto;
    align-self: center;
}

.partner-item img {
    max-width: 100%;
    max-height: 100%;
    
}
#amazon-logo-shj {
    width: auto; /* Adjust width to maintain aspect ratio */
    height: 80%; /* Aligns height with other logos, adjust as needed */
}
/* Responsive styles */

@media screen and (max-width: 480px) {
    .partners-grid {
        justify-content: start; /* Align items to the start on smaller screens */
    }

    .partner-item {
        min-width: 50px; /* Smaller minimum width for smaller screens */
    }
}