/* ManageWallet.css */

.manage-wallet-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}

.manage-wallet-heading {
    margin-bottom: 30px; /* More space for visual separation */
    color: #333;
    font-size: 1.5rem; /* Larger font size for heading */
  }
  
  .manage-wallet-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between form elements */
  }
  




  .manage-wallet-button {
    background-color: #2196f3;
    color: white;
    padding: 10px 20px; /* Larger padding for a more clickable button */
    border-radius: 5px; /* Consistent border-radius */
    font-size: 1rem; /* Larger font size for button text */
  }
  
  .manage-wallet-button:hover {
    background-color: #1976d2;
  }
  
  .additional-info {
    margin-top: 30px; /* Added space from the form */
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Subtle shadow for depth */
  }
  
  .currency-select-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .currency-icon {
    width: 24px;
    height: auto;
  }
  
  /* New style for the select input field */
  .wallet-currency-selector .MuiOutlinedInput-root {
    border-radius: 5px;
  }
  
  /* Remove the underline from the input fields */
  .MuiInput-underline:before, .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: none;
  }
  
  /* Remove the focus outline to customize */
  .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: transparent;
  }

.additional-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.info-text {
    margin-bottom: 10px;
    color: #666;
}