body {
    background-image: linear-gradient(to bottom, #f8f8f8, rgb(243, 247, 253));
    background-repeat: no-repeat;
    background-size: cover;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.slide-enter-right,
.slide-enter-left {
    transform: translateX(100%);
}

.slide-exit-right {
    transform: translateX(-100%);
}

.slide-exit-left {
    transform: translateX(100%);
}

.sliding {
    transition: transform 0.3s ease-out;
}